#Titulo{
    background-color: lightblue;

}

#Pachaqtec{
    text-align: center;
}


#Sobremi{
    background-color: rgb(202, 242, 255);

}

#Tsobremi{
    text-align: center;
}

#Misskills{
    background-color: rgb(189, 46, 189);
    text-align: center;
}

#MK2 {
    text-align: left;
}


#Portafolio{
    background-color: yellow;
    text-align: center;
}


#Clientes{
    background-color: rgb(132, 132, 187);
    text-align: center;
}


#Contacto{
    background-color: skyblue;
    text-align: center;
}

#nombre{
    margin-left: 10px;
    margin-right: 10px;
}

#apellido{
    margin-left: 10px;
    margin-right: 10px;
}

#email{
    margin-left: 10px;
    margin-right: 10px;
}

#telefono{
    margin-left: 10px;
    margin-right: 10px;
}